@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*=============================================
Css Indexing
===============================================
1 Base CSS

===============================================*/





/*===========================================
Base CSS
============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    font-size: 14px;
    overflow: hidden;
    background: #fafafa;
}

label {
    padding: 0;
    margin: 0;
}

ul,
li,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a,
img {
    border: 0;
    outline: none;
    text-decoration: none;
}

input::-moz-focus-inner {
    border: 0;
}

bo {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

input,
select,
textarea,
button {
    font-family: 'Muli', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}

a {
    color: inherit;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


p {
    margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}


i.material-icons {
    font-size: inherit;
    line-height: inherit;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #777;
}

/*===========================================
Text Styles CSS
============================================*/
.t-title-size {
    font-size: 18px;
}

.t-bold {
    font-weight: 600;
}

.t-normal {
    font-weight: normal;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}



/*===========================================
Padding & Margins CSS
============================================*/
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.p-35 {
    padding: 35px;
}

.p-40 {
    padding: 40px;
}

.p-45 {
    padding: 45px;
}

.p-50 {
    padding: 50px;
}

.p-right5 {
    padding-right: 5px;
}

.p-right10 {
    padding-right: 10px;
}

.p-right15 {
    padding-right: 15px;
}

.p-right20 {
    padding-right: 20px;
}

.p-right25 {
    padding-right: 25px;
}

.p-right30 {
    padding-right: 30px;
}

.p-left5 {
    padding-left: 5px;
}

.p-left10 {
    padding-left: 10px;
}

.p-left15 {
    padding-left: 15px;
}

.p-left20 {
    padding-left: 20px;
}

.p-left25 {
    padding-left: 25px;
}

.p-left30 {
    padding-left: 30px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.m-35 {
    margin: 35px;
}

.m-40 {
    margin: 40px;
}

.m-45 {
    margin: 45px;
}

.m-50 {
    margin: 50px;
}

/*===========================================
Display Styles
============================================*/
.d-flex {
    display: flex;
}

.d-flex-align-center {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.d-flex-align-center-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}



/*===========================================
Page Styles
============================================*/

.wraper {
    width: 100%;
    height: 100%;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-content {
    width: 300px;
    overflow-y: auto;
    height: 100%;
    background: #fff;
    border-right: 1px solid rgba(221, 221, 221, 0.38);
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    margin-left: 10px;
    background: #fff;
    border-left: 1px solid rgba(221, 221, 221, 0.38);
}

.logo {
    display: flex;
    justify-content: flex-end;
}

.logo a {
    color: #fff;
    text-align: right;
    background: #000000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 500;
}

.nav {
    flex: 1;
    /* display: flex; */
    justify-content: flex-end;
    margin: 50px 0px;
}

.nav ul li,
.nav ul li a {
    display: flex;
    justify-content: flex-end;
}

.nav ul li a {
    padding: 8px 0px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
}

.nav ul li a:hover {
    color: #000;
}

.nav ul li a:after {
    content: "";
    width: 0;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav ul li a:hover:after {
    width: 100%;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.left-footer {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.foot-contact,
.social-icons ul,
.copy-rights {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
}

.social-icons ul li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.foot-contact ul {
    display: flex;
    flex-direction: column;
}

.foot-contact ul li {
    justify-content: flex-end;
    display: flex;
    margin: 2px 0px;
}

.foot-contact {
    margin: 5px 0px;
}



.social-icons ul li a {
    padding: 5px 8px;
    font-size: 16px;
}


.social-icons ul li a:hover {
    color: #000;
    transform: scale(1.2) translateY(-5px);
}

.headshot {
    width: 90%;
    border-radius: 5%;
}

.user-profile {
    padding-left: 50px;
    width: 500px;
    height: 500px;
}

.name {
    font-size: 40px;
    text-transform: uppercase;
    margin: 15px 0px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.role {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
    color: #222222;
}

.text {

    font-size: 15px;
}

.pr-list {
    margin: 30px 0px;

}

.pr-list ul li {
    margin-bottom: 8px;
}

.pr-list ul li i {
    width: 18px;
}

.social-icons-head ul {
    display: flex;
}

.social-icons-head ul li a {
    padding: 5px 10px;
    font-size: 22px;
    transition: all .3s;
    display: flex;
}

.social-icons-head {}

.social-icons-head ul li:nth-child(1) a {
    padding-left: 0;
}

.social-icons-head ul li a:hover {
    color: #000;
    transform: scale(1.2) translateY(-5px);
}

.sec-title {
    margin-bottom: 50px;
}

.pg-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    color: #000;
}

.pg-sub-title {
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}










/* Variables */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
}
.timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}
.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}
.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}
.timeline-event-copy h3 {
  font-size: 1.75em;
}
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
.timeline-event-copy strong {
  font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

/* 導覽列整體設定 */
.lang {
    text-align: right;
}

/* 按鈕個別設定 */
.lang .lang-item {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
}

/* 超連結設定 */
.lang .lang-item a {
    color: #004882;
    text-decoration: none;
    display: block;
    padding: 10px; /* 設定一個 padding，使得 a 元素填滿父元素 */
    transition: background-color 0.5s ease; /* 添加一個過渡效果，使顏色變化平滑 */
}

/* 滑鼠滑過時的樣式 */
.lang .lang-item:hover a {
    background-color: #004882; /* 這裡改成您希望的滑鼠移過去時的背景顏色 */
    color: #ffffff;
}